{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>
    <nav>This is our navbar</nav>
    
    {% block content %}
    demo content: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis laudantium, necessitatibus beatae
    vel suscipit odit cupiditate voluptatem rerum aspernatur, quas quis reiciendis, fugit porro eveniet esse. Officia
    ipsam, eaque amet molestiae sit, nihil tempora expedita harum velit, in non officiis temporibus. Enim dolorem, debitis
    deleniti voluptatum quaerat praesentium ut beatae!
    {% endblock %}
</body>
</html>
