<!DOCTYPE html>
{% load testapp_tags %}
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'mytheme.css'%}">
</head>

<body>
  <p>{% today %}</p>
  {% block menu %}
  {% endblock %}
  {% block content %}
  {% endblock %}
  <div id="footer">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid quibusdam aliquam. Temporibus labore
    consectetur eligendi assumenda obcaecati veniam in!
  </div>
</body>

</html>